body{
    margin: 0%;
}
#offers {
    background-color: #004042;
    text-align: right;
    color: white;
    margin: 0%;
    padding: 1px;
    
}
#offers a {
    text-decoration: none;
    color: white;
}
#offers  img{
   height: 40px;
   width: 40px;
   vertical-align: middle; /* /!\ to aligne the image with the paragraphe*/
}
#offers a ,p{
    padding-right: 8%;
    margin: 0px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(230, 245, 239);
    padding: 0px ;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    height: 60px;
    width: 100%;
}
#navbar li,a{
    text-decoration: none;
    list-style: none;
    color: #004042;
    
    font-size: 16px;
    font-family: Recoleta;
}
.Co{
    color: lightgreen;
}
.blogs{
    font-weight: bold;
}
#navbar ul {
display: flex;
}
.gaiaicon{
   padding-left: 200px;
}
.storiesicon{
    height: 20px;
    width: 20px;
    vertical-align: middle;
    padding: 3px;
}
.storieslink{
    padding-right: 80px;
}
.nav-item:hover{
    transform: scale(1.2,1.2);
    transition: 0.5s;
    border-bottom: #004042 1px solid;
    padding-right: 20px;
    padding-left: 20px;
    
}
.nav-item  {
    padding: 8px;
}



