body{
    margin: 0%;
    
}

#offers {
    background-color: #004042;
    text-align: right;
    color: white;
    margin: 0%;
    padding: 1px;
    
}
#offers a {
    text-decoration: none;
    color: white;
}
#offers  img{
   height: 40px;
   width: 40px;
   vertical-align: middle; /* /!\ to aligne the image with the paragraphe*/
}
#offers a ,p{
    padding-right: 8%;
    margin: 0px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #effaea;
    padding: 0px ;
    align-items: center;
    display: flex;
    justify-content: space-between;
    top: 0px;
    height: 80px;
    width: 100%;
    position: sticky;
}
#navbar li,a{
    text-decoration: none;
    list-style: none;
    color: #004042;
    
    font-size: 16px;
    font-family: 'Mononoki';
}
.Co{
    color: lightgreen;
}
.blogs{
    font-weight: bold;
}
ul.navlist { /* to target only the ul navlist */
display: flex;
}
.navlist {
    padding-inline-start: 0px;
}
#stories-link img{
    height: 25px;
    width: 25px;
    vertical-align: middle;
    padding: 3px;
}
.navlist{
    padding-left: 0px; /* remove the left gap*/
}

.nav-item:hover{
    transform: scale(1.1,1.1);
    transition: 0.5s;
    border-bottom: #004042 1px solid;
    padding-right: 20px;
    padding-left: 20px;
    
}
.nav-item  {
    padding: 10px;
}
#gaia-icon {
   height: 100%;
   align-content: center;
   padding-left: 15%;
} 
#stories-link {
    height: 100%;
    align-content: center;
    padding-right: 5%;
}
#navbar {
    height: 100%;
    align-content: center;
}
#subscription-menu {
    display: none;
    background-color: #effaea;
    position:absolute; /* fixed the position of the dropdown and eliminate the overflow*/
    left: 0;
    top: 80px; /* height of your navbar/header */
    z-index: 1000;
    justify-content: center;
    width: 100%;    
    
}
.dropdown-body {
    display: flex;
    justify-content: center;
    gap: 15%;
    padding: 40px;
    

}
.monthly-list , .weekly-list {
    text-decoration: none;  
    padding-left: 0px;
     
}
.subscription-lst h1 {
   margin : 0; 
     
}
.subscription-lst p {

    margin-bottom: 20px;
}
.monthly-list li, .weekly-list li {
    list-style: none;
    padding: 5px 0;
}
.subscription-lst-1 a {
    display: flex;
    align-items: center;   /* Vertically center text with image */
    justify-content: flex-start; /* Align content to the left */
    gap: 12px;             /* Space between image and text (adjust as needed) */  
}
.subscription-lst-1 img {
    display: block;
    object-fit: contain;
}
.subscription-lst p {
    color: rgba(0, 64, 66, 0.4);
    font-size: 1rem;
}

.fa-solid {
    color: #004042;
    font-size: 12px;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

#hero {
    background-image: url('icons/home_landing_page.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height: 496px; /* Adjust as needed */
    width: 100%;
    padding-top: 0;
    display: flex;
}
#hero h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 48px;
    color: #004042;
    line-height: 1.2;
    font-family: 'Recoleta';
    
}
.hero-content {
    flex-direction: column;
    display: flex;
    /* Adjust the value for more or less space */
    margin-left: 15%;
    margin-top: 6%;
    gap: 18px;
}
.hero-content button{
    margin-top: 3%;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    border-color: #004042;
    background-color: #004042;
    color: white;
    font-family: recoleta;
    font-size: 20px;
    cursor: pointer;
    
}
.hero-content span{
    color: rgb(0, 104, 111);
}
.hero-content p {
    font-size: 16px;
    color: #1b6568;
    width: 445px;
    line-height: 1.6;
    font-style: italic;
}
.sub-bttn:hover{
    background-color: white;
    color:#004042 ;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.guide-line{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #ecf3f4;
    height: 480px;;

}
.guide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
}
.guide-content h3{
 color: #004042;
    font-size: 24px;
    margin-top: 10px;
}
.guide-content a {
    text-decoration: underline;
}
.guide-content p {
    color: #004042;
    font-size: 16px;
    padding: 0%;
    
}
.guide-content h1 {
    color: #004042;
    font-size: 40px;
    margin-top: 10px;
    font-family: 'Recoleta';
    line-height: 0.9;
}